<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include meta.html %}
    <title>{{ page.title | default: "Il Mio Sito" }} - gjdev</title>
</head>
<body>
    {% include header.html %}





    <section class="it-hero-wrapper it-dark it-overlay">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <img src="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg" title="titolo immagine" alt="descrizione immagine">
      </div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <span class="it-Categoria">{{ site.posts | first.category }}</span>
          <h2>{{ site.posts | first.title }}</h2>
          <p class="d-none d-lg-block">{{ site.posts | first.excerpt }}</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="{{ site.posts | first.url }}">Leggi di più</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Elenco degli altri post -->
<div class="posts">
  {% for post in site.posts %}
    {% if post != site.posts | first %}
      <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
        <p><small>Pubblicato il {{ post.date | date: "%d %B %Y" }}</small></p>
      </article>
    {% endif %}
  {% endfor %}
</div>




    
    <main>
        <div class="container">
        {{ content }}
        </div>
    </main>
    
    {% include footer.html %}
</body>
</html>




